/* Estilos aplicados a larguras de 480px até 1200px */

/************Responsivo PC************/

@media (min-width:1201px) {
    Body {
        background-repeat: no-repeat;
        background-size: 260px;
        background-position: 900px 150px;
        border-radius: 500px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        margin: 0px;
    }
    .logo {
        position: absolute;
        margin-top: -19px;
        transition: transform 2s;
    }
    .logo:hover {
        transform: rotate(360deg);
    }
    #menu ul {
        padding-left: 11%;
    }
    #menu li {
        margin-left: 11%;
        margin-right: 11%;
        height: 100%;
    }
    #menu li, a {
        list-style: none;
        display: inline;
        font-size: 15pt;
    }
    #menu {
        background-color: #202020;
        background: linear-gradient(to bottom, #202020, #2c2c2c 130%);
        /*background: rgba(32, 32, 32, 0.3);*/
        /*background: linear-gradient( to top, #ffff , rgba(32, 32, 32, 0.8) 10%);*/
        height: 56px;
        width: 100%;
        margin: 0px, 0px, 0px, 0px;
        position: fixed;
        z-index: 9999;
        box-sizing: border-box;
        transition: heigth 2s, width 2s;
    }
    #menu li a:link {
        color: #ffff;
        text-decoration: none;
        padding: 10px;
        margin: 1px 1px 1px 1px;
    }
    #menu li a:visited {
        color: #ffff;
    }
    #menu li a:hover {
        /*background-color: rgba(18, 199, 224, 0.1);*/
        color: #12c7e0;
        border-radius: 3px 3px 3px 3px;
        border-bottom: 1px solid #12c7e0;
        text-shadow: 1px 2px 10px #12c7e0;
    }
    #conteudo {
        padding-top: 15%;
    }
    .containers {
        padding-left: 19%;
    }
    .containers h1 {
        text-align: left;
        margin-bottom: -2px;
        margin-top: -2px;
        font-size: 45pt;
        color: #202020;
    }
    .containers {
        width: 50%;
        margin-right: 10%;
        margin-left: 15%;
        display: table;
        clear: both;
        border-radius: 3px;
        overflow: hidden;
    }
    .cordestaque {
        color: #12c7e0;
    }
    .containerP {
        background-color: #202020;
        background: linear-gradient(to bottom, #202020, #2c2c2c 130%);
        color: white;
        width: 70%;
        margin-top: -6%;
        margin-right: 10%;
        margin-left: 3%;
        /*o valor adicionado será somado ao valor definido no padding da div #conteudo*/
        display: table;
        clear: both;
        border-radius: 3px;
        overflow: hidden;
    }
    .content p {
        margin: 30px;
        text-align: justify;
    }

    /********* time line *********/

    #sobre * {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 0;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #202020;
        background: linear-gradient(to bottom, #202020, #2c2c2c 130%);
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    /* Container around content */
    .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    /* The circles on the timeline */
    .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid #12c7e0;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    /* Place the container to the left */
    .left {
        left: 0;
    }
    /* Place the container to the right */
    .right {
        left: 50%;
    }
    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid #202020;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #202020;
    }
    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid #202020;
        border-width: 10px 10px 10px 0;
        border-color: transparent #202020 transparent transparent;
    }
    /* Fix the circle for containers on the right side */
    .right::after {
        left: -16px;
    }
    /* The actual content */
    .content {
        padding: 20px 30px;
        background-color: #202020;
        background: linear-gradient(to bottom, #202020, #2c2c2c 130%);
        position: relative;
        border-radius: 6px;
    }
    .content h2 {
        color: #12c7e0;
    }
    .content a {
        text-decoration: none;
        color: #12c7e0;
    }

    /********* contato *********/

    .conteudo {
        display: grid;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        align-items: center;
    }
    
    #container {
        width: 700px;
        margin-left: 20%;
    }
    
    #container li {
        height: 80px;
        list-style: none;
        margin-top: 40px;
    }
    
    .contato {
        margin-top: -5%;
        width: 70px;
        height: 60px;
        background: #202020;
        transition: width 2s;
        border-radius: 12px 12px;
        display: flex;
    }   
    
    .contato:hover {
        width: 300px;
    }
    
    .imagem {
        display: flex;
    }
    
    .setinha {
        align-self: center;
        transition: all;
        z-index: -1;
    
    }
    
    .imagem a svg {   
        max-width: 60px;
        width: 60px;
    }
    
    .texto {
        align-self: center;
        display: flex;
    }
    
    .texto svg {
        text-align: center;
        fill: #fff;
    }
    
    .texto p {
        text-align: center;
        margin: 0; /*top right bottom left*/
        align-items: center;
        width: 170px;
    }
    
    .oi{
        display: -webkit-box;
        padding: 0;
        margin: 0;
        align-items: left;
        width: 15vw;
        height: 30vh;
    }
    .oi h4 {
        color: #202020;
        margin-right: 10%;
    }
    
    .caixa1 {
        margin-top:3%;
        width:6cm;
        height:1cm;
        border-radius: 5px 5px 5px 5px;
    }
    .caixa2 {
        margin-top:3%;
        width:6cm;
        height:2cm;
        border-radius: 5px 5px 5px 5px;
    }
    button{
        margin-top:5%;
        background-color:#202020;
        border: 1px solid;
        border-radius: 5px 5px 5px 5px;
        font-size:19pt;
        color:#fff;
        width: 155px;
    }

}



/************Responsivo Mobile************/

@media only screen and (max-width:700px) {
    * {
        box-sizing: border-box;
    }
    Body {
        background-repeat: no-repeat;
        background-size: 180px;
        background-position: 90% 70%;
        border-radius: 500px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #202020;
        margin: 0px;
    }
    .logo {
        position: fixed;
        left: 8%;
        margin-top: -18px;
        transition: transform 2s;
    }
    #logo:hover {
        transform: rotate(360deg);
    }
    #menu ul {
        padding-left: 25%;
        padding-top: 0px;
    }
    #menu li {
        margin-left: 2%;
        margin-right: 2%;
        height: 100%;
    }
    #menu li a {
        list-style: none;
        display: inline;
        font-size: 10pt;
    }
    #menu {
        background-color: #202020;
        background: linear-gradient(to bottom, #202020, #2c2c2c 130%);
        height: 56.5px;
        width: 100%;
        margin: 0px, 0px, 0px, 0px;
        position: fixed;
        z-index: 9999;
        box-sizing: border-box;
        transition: heigth 2s, width 2s;
    }
    #menu li a:link {
        color: #ffff;
        text-decoration: none;
        padding: 10px;
        margin: 1px 1px 1px 1px;
    }
    #menu li a:visited {
        color: #ffff;
    }
    #menu li a:hover {
        /*background-color: rgba(18, 199, 224, 0.1);*/
        color: #12c7e0;
        border-radius: 3px 3px 3px 3px;
        border-bottom: 1px solid #12c7e0;
    }
    #conteudo {
        padding-top: 6cm;
        padding-left: 5%;
    }
    h1 {
        text-align: left;
        margin-bottom: -2px;
        margin-top: -2px;
        font-size: 45pt;
    }
    .container {
        width: 50%;
        margin-right: 10%;
        margin-left: 15%;
        text-align: center;
        display: table;
        clear: both;
        border-radius: 3px;
        overflow: hidden;
    }
    .cordestaque {
        color: #12c7e0;
    }

    /********* time line *********/
    

}